extends layout

block content
  h1= title
  p Welcome to #{title}

  #content-root

  script(type='text/javascript').
    React.render(
      React.createElement(App),
      document.getElementById('content-root')
    );
