doctype html
html
  head
    title= title
    script(type="text/javascript", src="/javascripts/lib/jquery-2.1.4.min.js")
    script(type="text/javascript", src="/javascripts/lib/underscore-1.8.3.js")
    script(type="text/javascript", src="/javascripts/lib/backbone-min.js")
    script(type="text/javascript", src="https://fb.me/react-with-addons-0.13.3.js")
    script(type="text/javascript", src="/javascripts/models/feed.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content